.header-bar-container {
  display: flex;
  justify-content: flex-end;
}
.header-bar {
  color: #fff;
}

.watchlist-btn {
  color: #fff;
  text-decoration: none;
}

.logout-btn {
  background: transparent;
  color: #fff;
  border: none;
  font-size: 1rem;
  margin: 1%;
  word-wrap: break-word;
  white-space: nowrap;
  cursor: pointer;
}

.logout-btn:hover {
  color: #028090;
}

.watchlist-btn:hover {
  color: #028090;
}

@media only screen and (max-width: 500px) {
  .header-bar-container {
    flex-direction: column;
    align-items: flex-end;
  }
}
