.vote-average-container {
  height: 25vh;
  position: relative;
}

.vote-average-score {
  color: #00a896;
  display: inline-block;
}

@media only screen and (min-width: 800px) {
  .vote-average-container {
    height: 15vh;
  }
}
