.delete-card-btn {
  outline: none;
  text-align: center;
  background: #000000;
  height: 40px;
  border-radius: 40px;
  color: white;
  border: 2px solid #028090;
  margin: 2%;
  font-size: 2vh;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.delete-card-btn:hover {
  color: #028090;
  background: white;
}

.watchlist-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}

.watchlist-dashboard {
  background-color: #000000;
}

.watchlist-card-movie-title {
  color: #00a896;
  text-decoration: none;
}

.watchlist-card-img {
  max-width: 100%;
  display: block;
}

.watchlist-card {
  margin: 1rem;
}

@media screen and (min-width: 600px) {
  .watchlist-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .watchlist-card {
    width: calc(50% - 2rem);
  }
}

@media screen and (min-width: 1000px) {
  .watchlist-card {
    width: calc(33.3333% - 2rem);
  }
}
