.search-box-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

.search-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: white;
}

.search-input:focus {
  outline: 0;
}

.search-input::placeholder {
  color: #fff;
}

.search-box-list {
  color: #fff;
  position: absolute;
  top: 100%;
}

.search-box-title {
  background-color: black;
  z-index: 100;
}

.search-results {
  position: relative;
}
