.add-movie-btn {
  outline: none;
  text-align: center;
  background: #fff;
  height: 40px;
  border-radius: 40px;
  color: #028090;
  border: 2px solid #028090;
  margin: 2%;
  font-size: 4vh;
  text-align: center;
  cursor: pointer;
}

.add-movie-btn:hover {
  color: white;
  background: #028090;
}

.card-title {
  font-size: 5vh;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}
/*.card-background {
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.85) 15%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 1) 90%);
  margin: 0;
}*/
.card-container {
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
}
.card-info-title,
.genres-title {
  color: #fff;
  font-size: 6vw;
}

.card-info-value {
  display: block;
}

.card-info-value,
.genre-value {
  color: #00a896;
  font-size: 4vw;
  font-weight: bold;
}

.card-info-list li {
  width: 50%;
  display: inline-block;
}

.card-tagline {
  color: #00a896;
}

.genres-results li {
  display: inline;
}

.card-description {
  color: #fff;
}

.card-details-container {
  display: flex;
  flex-direction: row;
}

.card-poster-image {
  max-width: 100%;
}

.release-date,
.runtime {
  flex-basis: 50%;
}

.card-panel-container {
  display: flex;
  flex-direction: row;
}

.card-genres {
  flex-basis: 50%;
}

.card-panel-container {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 800px) {
  .card-data-container {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
  }

  .card-container {
    flex-direction: row;
  }

  .card-container > div {
    flex: 1;
  }

  /*.card-description,
  .card-title,
  .card-tagline {
    width: 70%;
  }*/

  .bar-chart-containers {
    display: flex;
  }
  .card-info-value,
  .genre-value {
    font-size: 2vw;
  }

  .card-about-container {
    display: flex;
    flex-direction: column;
    flex-shrink: 3;
  }

  .card-poster-image {
    flex-basis: 100%;
    max-width: inherit;
  }
  .card-poster {
    max-width: auto;
  }

  .card-info-title,
  .genres-title {
    font-size: 2vw;
  }
}
