.add-movie-btn {
  outline: none;
  text-align: center;
  background: #fff;
  height: 40px;
  border-radius: 40px;
  color: #028090;
  border: 2px solid #028090;
  margin: 2%;
  font-size: 4vh;
  text-align: center;
  cursor: pointer;
}

.add-movie-btn:hover {
  color: white;
  background: #028090;
}

.card-title {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}
.card-background {
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.85) 15%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 1) 90%);
  margin: 0;
}
.card-container {
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
}

.card-info-title,
.genres-title {
  color: #fff;
  font-size: 5.2vw;
}

.card-info-value {
  display: block;
}

.card-info-value,
.genre-value {
  color: #00a896;
  font-size: 4vw;
  font-weight: bold;
}

/* TODO: add white color to text */

/*.card-info {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}*/

.card-info-list li {
  width: 50%;
  display: inline-block;
}

.card-tagline {
  color: #00a896;
}

.card-description {
  color: #fff;
}

.genres-results li {
  display: inline;
}

img {
  height: auto;
  max-width: 100%;
}

@media only screen and (min-width: 600px) {
}
